@using Convenience.org.Models

@model EVChargingCalculatorViewModel

<div class="row" id="_divStepsHeader" style="display:none;">
    

    <div class="col">
        <ul id="wizHeader" style="list-style-type: none; padding: 0;">
            <li>
                <a class="@(Model.CurrentStep == 1 ? "stepCurrent" : (Model.Step1Completed ? "stepCompleted" : "stepNotCompleted"))" title="Step 1<br/>Revenue">
                    @Model.Steps[0]
                </a>
            </li>
            <li>
                <a class="@(Model.CurrentStep == 2 ? "stepCurrent" : (Model.Step2Completed ? "stepCompleted" : "stepNotCompleted"))" title="Step 2<br/>Cost">
                    @Model.Steps[1]
                </a>
            </li>
            <li>
                <a class="@(Model.CurrentStep == 3 ? "stepCurrent" : (Model.Step3Completed ? "stepCompleted" : "stepNotCompleted"))" title="Step 3<br/>Levers &amp; Results">
                    @Model.Steps[2]
                </a>
            </li>
        </ul>
    </div>
</div>
