@using CMS.ContentEngine
@using Kentico.Content.Web.Mvc.PageBuilder
@using NACSShow

<vc:current-page-data />
@{
    Layout = "~/Features/Shared/NACSShow/_Layout.cshtml";

    var currentPageData = TempData["CurrentPageData"] as Page ?? new Page();
}


<section class="section--margins section--margins-x-xl">
    <div class="container main-content">
        <div class="row center-xs">
            <div class="margin-bottom-md">
                <editable-area area-identifier="TitleZone"></editable-area>

                <vc:full-width-page-title section-header="@currentPageData.SectionHeader" title="@currentPageData.Title"></vc:full-width-page-title>

                <editable-area area-identifier="TitleZone1"></editable-area>
            </div>
            <div class="margin-bottom-md col-xs-12" style="margin-bottom:0">
                <editable-area area-identifier="zoneHeaderImage"></editable-area>

                <vc:page-image header-image="@currentPageData.HeaderImage" header-image-mobile="@currentPageData.HeaderImageMobile"></vc:page-image>

                <editable-area area-identifier="zoneHeaderImage1"></editable-area>
            </div>
            <div class="start-xs col-xs-10 col-md-12">
                <editable-area area-identifier="ContentWidgetZone1"></editable-area>

                @Html.Raw(currentPageData.PageContent)

                <editable-area area-identifier="ContentZone"></editable-area>
            </div>
        </div>
        <editable-area area-identifier="ContentWidgetZone2"></editable-area>
    </div>
</section>



<section>
    <div class="row">
        <div class="col-xs-12">
            <div class="wrapper container">
                <div class="block--sponsorship">
                    <div class="ad">
                        <div class="ad__wrapper">
                            <div class="multi-ad-container">
                                <editable-area area-identifier="AdZone1"></editable-area>
                                <editable-area area-identifier="AdZone2"></editable-area>
                                <editable-area area-identifier="AdZone3"></editable-area>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
